.login {
  background-color:#00152a;
  height: 100vh;
  width: 100%;
  align-items: center;
  display: grid;
  justify-items: center;
}
.card-login{
  width: 300px;
  justify-content: center;
  display: flex;
}

img{
  width: 100%;
}
.row{
  display: flex;
  margin-top: 0.75rem;
}
.d-grid{
  display: grid !important;
}
.justify-center{
  justify-content: center;
}